* {
    background: #3371ff;
}

#main {
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
#gridBox {
    margin-top: 30px;
    align-items: center;
    justify-content: stretch;
    display: grid;
    grid-template-columns: 275px 275px 275px;
    grid-template-rows: 250px 250px;
    grid-column-gap: 30px;
    grid-row-gap: 50px;
}
.image {
    margin-top: 15px;
    border-radius: 15px;
    border: 4px solid white;
    width: 200px;
    height: 200px;
}

#modal-popup {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #64ff33;
}
#infoPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: solid grey 3px;
    background: grey;
}
.commentBox {
    width: 300px;
    height: 200px;
    overflow: scroll;
}
